body {
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px
}

h1 {
  font-family: 'Exo', sans-serif;
  line-height: 1.2;
  color: #99021d;
}

h2,
h3 {
  line-height: 1.2;
}
