<html>
  <head>
    <title>$title$ - Just Lisp Things</title>
    <link href="https://fonts.googleapis.com/css?family=Exo:700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css"/>
    <link rel="stylesheet" href="../code_highlight.css"/>
    <link rel="alternate" type="application/atom+xml" href="../atom.xml"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <p>&larr; <a href="../">Articles</a></p>
    <header>
      <h1>$title$</h1>
      <p>Published <time datetime="$iso-date$">$short-iso-date$</time>, $reading-time$</p>
    </header>
    <hr>
$body$
  </body>
</html>
